html, body {
    height: 100%; width: 100%;
    margin: 0; padding: 0;
}
body{
    background-color:white; overflow:hidden;
    font-family: "Kimberley", sans-serif
}
#mainDiv {
    gutters:false;
    width:100%;
    height:100%;
}
#headerDiv {
    -moz-border-radius: 5px;
    margin:2px;
    padding-top: 6px;
    padding-right:20px;
    background-color:#929761;
    color:#421b14;
    border: solid 2px #79663b;
    height:55px;
    text-align:right;
    color:#000;
    font-size:18pt;
    font-weight:bold;
}
#footerDiv {
    margin:2px;
    padding: 2px;
    background-color:white; color:#2a3537;
    border: solid 2px #79663b;
    font-size:10pt; text-align:center;
    height: 30px;
}
#rightBorderDiv{
    background-color:white;
    width:150px;
    margin:3px;
    padding:0px;
    background-color:white;
    color:#421b14;
    border: solid 2px #79663b;
}
#rightDiv{
    margin:3px;
    padding:0px;
    background-color:white;
    color:#421b14;
    width:144px;
    overflow: auto;
    height:320px;
    text-align:center;
}
#gridDiv{
    margin:3px;
    padding:0px;
    background-color:white;
    color:#421b14;
    width:144px;
    height:auto;
    overflow: auto;
    text-align:center;
    font-size:8pt;
}
#leftDiv{
    margin:3px;
    padding:5px;
    width:150px;
    color:#3C1700;
    background-color:white;
    border: solid 2px #79663b;
}
#mapDiv {
    margin:3px;
    padding:1px;
    border:solid 2px #79663b;
}

.esriLegendServiceLabel{
    display:none;
}

.esriLegendLayerLabel{
    display:none;
}

.shadow{
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 8px 8px 16px #323834;
    -webkit-box-shadow: 8px 8px 16px #323834;
    -moz-box-shadow: 8px 8px 16px #323834;
    -o-box-shadow: 8px 8px 16px #323834;
}

.nihilo .dijitAccordionText {
    margin-left:4px;
    margin-right:4px;
    color:#5c8503;
}
